logs/*
!.gitkeep
/node_modules/
bower_components/
tmp
.DS_Store
.idea/
*.iml
.metadata/
.recommenders/
.settings/

target/
.target
*.class
*.war
*.ear
/try/

node_modules/

# Eclipse Core
.project
.classpath


*.patch
dist/assets/*

spr-core/models/


yarn.*
/gradlew
/gradlew.bat
